* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.app-container {
    max-height: 700px;
    max-width: 900px;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #eff6fc;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 20px;
}

.header select {
    border-radius: 2px;
    width: 40px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.header .search {
    max-width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.search input {
    border: none;
}

table {
    width: 100%;
}

.header-tr {
    height: 40px;
}


th div {
    display: flex;
    align-items: center;
}

th div h1 {
    font-size: 0.7rem;
    color: #5e6a8e;
    max-width: 100px;
}

td {
    font-size: 0.8rem;
}

tr:not(.header-tr) {
    height: 50px;
    background-color: white;
}

tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

td, th{
    padding-left: 20px;
    border-bottom: 5px solid #eff6fc;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.footer button {
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.left-btn {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.right-btn {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer button i {
    font-size: 1.6rem;
}

@media (max-width: 625px) {
    .app-container {
        padding: 0;
    }

    .header {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 360px) {
    th div h1{
        font-size: 0.5rem;
    }
    
    table td {
        font-size: 0.6rem;
    }
}